body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}

main {
    height: 100vh;
}

.navbar {
    background-color: transparent;
}

.cdw {
    max-width: 500px;
    min-width: 200px;
}

.no-border {
    border: none;
}

.border.border-top-0 {
    border: none;
}

.text {
    color: white;
    text-align: center;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 51;
}

.fill {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bottom {
    align-items: flex-end;
}

#dropdown {
    position: fixed;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}


