{% extends "layout2.html" %}

{% block title %}
    Log In
{% endblock %}
    
{% block main %}
    <form action="/login" method="post">
        <h1 class="text mb-3">Log In</h1>
        <div class="cdw" style="max-width: 350px; margin: auto;">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-light" type="submit">Log In</button>
        </div>
    </form>
{% endblock %}
